div.bulbs-page-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

div.bulbs-page-contents>h1 {
    text-align: center;
    color: var(--plexYellow);
    font-weight: 800;
    font-size: 1.8rem;
    margin: 20px 0 5px;
}

div.bulbs-page {
    margin: 0 0 20px;
    width: 90vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px 20px;
}

.bulb-item {
    width: 280px;
    height: 190px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--containerColor);
    border-radius: 20px;
}

.bulb-item>img {
    height: 150px;
    border-radius: 20px;
}

.bulb-item-info {
    display: flex;
    height: 230px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.bulb-item-info>h2.bulb-name {
    margin: 0;
    color: var(--textInContainerColor);
    font-size: 1.5rem;
}

.bulb-item-info>h2.bulb-mac {
    margin: 0;
    color: var(--textInContainerColor);
    font-size: 1.2rem;
}

.bulb-flash-button {
    font-family: "IBM Plex Sans", sans-serif;
    width: fit-content;
    height: 35px;
    background-color: var(--plexYellow);
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 800;
    transition: background-color 0.1s ease;
}

.bulb-flash-button:hover:not(:disabled) {
    background-color: var(--buttonHoverColor);
    cursor: pointer;
}

.bulb-type-picker {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 8px;
}

.bulb-type-option {
    width: 50px;
    height: 90px;
    cursor: pointer;
    opacity: 0.6;
}

.bulb-type-option:hover {
    opacity: 1;
}

.bulb-type-option.selected {
    opacity: 1;
    border: 2px solid blue;
}
