:root {
    --backgroundColor: #202020;
    --textColorDark: #080909;
    --plexYellow: #E5B93C;
    --buttonHoverColor: #E5B93CA0;
    --containerColor: #1A1A1A;
    --textInContainerColor: #C7CFFC;
    --iconColor: #C7CFFC;
}

* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

html {
    background-color: var(--backgroundColor);
    color: var(--textColorDark);
}

body {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {
    font-family: "IBM Plex Sans", sans-serif;
    width: fit-content;
    height: 45px;
    background-color: var(--plexYellow);
    border: none;
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: 800;
    transition: background-color 0.1s ease;
    padding: 0 10px;
}

.add-button:hover {
    background-color: var(--buttonHoverColor);
    cursor: pointer;
}

h1 {
    color: var(--plexYellow);
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: var(--textInContainerColor);
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.nav-header {
    width: 90vw;
    max-width: 1000px;
    background-color: #143CFC;
    border-radius: 50px;
}

div.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    gap: 30px;
}

div.nav-links>a {
    font-size: 2rem;
    padding: 10px 0;
    width: 33%;
    text-align: center;
    border-radius: 50px;
    transition: background-color 0.15s ease;
}

div.nav-links>a:hover {
    background-color: var(--buttonHoverColor);
}

div.nav-links>a.active {
    background-color: var(--plexYellow);
    cursor: default;
}
